/* .upper-data {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWcLl8_RXftgS0VOmXS_SUTiacipzEeoHKyA&usqp=CAU');
  background-repeat: no-repeat;
  height: 400px;
  border-style: groove;
  border-radius: 1%;
}
.container {
  align-items: center;
  align-content: center;
  padding-left: 40%;
  padding-top: 7%;
  padding-right: 30%; */
/* border-style: groove; */
/* } */
:root {
  --blue-1: #3c429e;
  --blue-2: #4c52ad;
  --yellow-1: #fac742;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: #3c429e;

  display: flex;
  ;
  justify-content: center;
  align-items: center;
}
.wind{
display: flex;
  flex-direction: column;
}
.container {
  width: 400px;
  height: 80vh;
  background-color: #4c52ad;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #3c429e;
  /* padding-left: 10%; */
  
}
.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.upper-data img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.weather-data
{
  position:relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location
{
  color:#fff;
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  
}
.temp
{
  color: #fff;
  text-align: center;
  font-size: 4.6em;
  font-weight: 900;
}
.flex
{width: 100%;
  height: 100%; 
  
  /* background-color:rgba(0, 0, 0, 0.3); */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
 font-size: medium;
 font-family: 'Times New Roman', Times, serif;
  display: inline-flex;
  flex-direction: column;

}
.lower-data {
  background-color: #3c429e;
  
  position: static;
  overflow: visible;
  width: 100%;
  height: 50%;
  /* height: 50%; */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.lower-data img
{
  border-collapse: collapse;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.wind-speed{

  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: 10%;
  justify-content: center;

}