<body >
  <div class="container" *ngIf="bool">
    <div class="upper-data">
      <img
        rel="prefetch"
        crossorigin="anonymous"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhTP-pHDcaAGk9m0bL45Q0aXgPt0OnoEjs-nJ7qy1PwDOondU0uEoWbMfOBEhUbDiL6Oo&usqp=CAU"
        style="width:400px;"
        alt="hot temperature"
        *ngIf="14 < 15"
      />
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM6FwaXAaKufFfDRFAgHulnRjzhmNxeNfDeg&usqp=CAU"
        alt="cold"
        *ngIf="1 > 7"
      />
      <div class="weather-data">
        <div class="location">Nagda</div>
        <div class="temp">{{ weather.current_weather.temperature | number: '1.0-0' }}°C</div>
      </div>
    </div>

    <div class="lower-data">


      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhTP-pHDcaAGk9m0bL45Q0aXgPt0OnoEjs-nJ7qy1PwDOondU0uEoWbMfOBEhUbDiL6Oo&usqp=CAU" width="400px"  alt=""> -->
      <div class="flex">
        Atmoshphere:&nbsp;&nbsp; :  {{weather.current_weather.weathercode}}
<br>
<br>
       <div class="wind">
         Wind Speed &nbsp;&nbsp; :  {{weather.current_weather.windspeed}}   
      </div>
      <br>
      <br>
      <div class="hum">
        Humidity&nbsp;&nbsp; :  {{weather.elevation}}
      </div>
      <br>
      <br>
      Wind direction &nbsp;&nbsp;:{{weather.current_weather.winddirection}}
      </div>
    </div>
  </div>
</body>
